.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.nav figure {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    position: relative;
  }

  .nav a {
    align-self: flex-start;
    flex: 0 0 auto;
    width: 40%;
  }

  .nav img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav figure {
    display: block;
    width: 4rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 2.5rem;
    right: 1rem;
  }

  .nav figure::before,
  .nav figure::after {
    content: "";
    height: 0.2rem;
    width: 4rem;
    background-color: rgb(255, 255, 255);

    position: absolute;
  }

  .nav figure::before {
    top: -1rem;
  }

  .nav figure::after {
    top: 1rem;
  }

  .nav ul {
    flex-direction: column;
    transform: translateX(30rem);
    width: 0;
    height: 0;
  }
}
